body {
    background-color: #3C8DAD;
}

.flex-container {
    flex-direction: row;
}
.nowrap{
    flex-wrap: nowrap;
}
.wrap{
    flex-wrap: wrap;
}
.wrap-reverse{
    flex-wrap: wrap-reverse;
}